# Node dependencies
node_modules/
npm-debug.log*

# Python dependencies
__pycache__/
*.pyc
.venv/
venv/
env/

# Large local ML Datasets / Models
# *.keras
# *.h5
# dataset/

# Environment variables / secrets
.env